<div ng-controller="blogController as blogContent">
    <p> BLOG INPUT PANEL</p>
    <test-Directive></test-Directive><!--must be nested inside blogController -->
    <a href="" ng-click = "blogContent.OutsideFunction()" >Click here to try to call OutsideFunction</a>

    <a href="" ng-click = "blogContent.callroute()" >Click here to try to call OutsideFunction</a>
    <a href="" ng-click = "blogContent.postRoute()" >Click here to make a post to hello</a>


    <div ng-repeat= "posts in BlogPosts | limitTo: ItemsPerPage" class = "blog-Div">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{posts.title}}</h3>
            </div>
            <div class="panel-body">
            {{posts.content}}
            </div>
            
    
        </div>
    </div>
</div> <!--- blogController -->