<div ng-controller="blogController as blogContent">
    <div ng-repeat= "posts in BlogPosts | limitTo: ItemsPerPage" class = "blog-Div"> <!-- modify ItemsPerPage so it has an actual use -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{posts.title}}</h3>
            </div>
            <div class="panel-body">
               {{posts.content}}
            </div>
        </div>
    </div>
     <a ui-sref="BlogInputPanel">Input</a>
</div> <!--- blogController -->